<!DOCTYPE html>
<html>
	<head>
		<title>RailsProject : Forums</title>
        <%= favicon_link_tag 'favicon.png ' %>
		<%= stylesheet_link_tag    "forem", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag "forem", "data-turbolinks-track" => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= forem_atom_auto_discovery_link_tag %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="header">
		<ul>
			<a href="/">
                <li><%=t :home %></li>
			</a>
			<% if !user_signed_in? %>
				<%= link_to main_app.new_user_session_path, :method => :get do %>
                    <li><%=t :signin %></li>
				<% end %>
				<%= link_to main_app.new_user_registration_path, :method => :get do %>
                    <li><%=t :signup %></li>
				<% end %>
			<% else %>
				<%= link_to main_app.contact_path, :method => :get do %>
                    <li><%=t :contact %></li>
				<% end %>
				<% if current_user.level > 0 %>
					<%= link_to main_app.users_path, :method => :get do %>
                        <li><%=t :admin %></li>
					<% end %>
					<%= link_to forem.admin_root_url do %>
                        <li><%=t :forumadmin %></li>
					<% end %>
				<% end %>
				<%= link_to main_app.destroy_user_session_path, :method => :delete do %>
                    <li><%=t :delog %></li>
				<% end %>
			<% end %>
			<span>
				<%= link_to_unless I18n.locale == :en, "English", main_app.set_language_english_path %> | 
				<%= link_to_unless I18n.locale == :ch, "Chinese", main_app.set_language_chinese_path %>
			</span>
		</ul>
		</nav>
		<section class="content">
		<% flash.each do |k,v| %>
			<div class='flash <%= k %>'><%= v %></div>
		<% end %>
		<%= yield %>
		</section>
	</body>
</html>
