<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
	<h3><%=t :hello %></h3>
<% else %>
    <h3><%=t :delogged %></h3>
<% end %>
<div><%= @okay %></div>
<div class="home">
    <%= image_tag("tarte-citron.jpg", :alt => "rss feed") %>
</div>
