<p id="notice"><%= notice %></p>

<p>
<h1><%= t('title')%>:
	<%= @ticket.title %></h1>
</p>

<p>
<%= @ticket.content %>
</p>

<br>
<p>
<strong><%= t('comments')%>:</strong>
<div class="comments">
<% @ticket.comments.each do |comment| %>
	<div class="comment">
		"<%= comment['content'] %>"
		<span class="infos"><%= t('by') %>
		<%= comment['user'] %>
		<%= t('the') %>
		<%= comment['time'] %></span>
	</div>
<% end %>
</div>
</p>

<p>
<strong><%= t('status')%>:</strong>
<%= @ticket.status %>
</p>

<p>
<strong><%= t('user')%>:</strong>
<%= @ticket.user_id %>
</p>

<p>
<strong><%= t('assigned')%>:</strong>
<%= @ticket.assigned_to %>
</p>

<br>
<%= form_for @ticket do |f| %>
	<h3><%= t('editticket') %></h3>

	<div class="field">
		<%= f.label :status, t('status') %><br>
		<%= f.select :status, options_for_select([[t('open'), 'open'], [t('closed'), 'closed']]), :include_blank => true %>
	</div>
	<div class="field">
		<%= f.label :comment , t('addcomment') %><br>
		<%= text_field_tag :comment %>
	</div>
    <% if current_user.level > 0 %>
		<div class="field">
			<%= f.label :assigned_to, t('assigned') %><br>
			<%= text_field_tag :assigned_to %>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
<br>
<%= link_to t('back'), tickets_path %>
