<!DOCTYPE html>
<html>
    <head>
        <title>RailsProject</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "style" %>
        <%= favicon_link_tag 'favicon.png ' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="header">
            <ul>
                <a href="/">
                    <li><%=t :home %></li>
                </a>
                <% if !user_signed_in? %>
                    <%= link_to new_user_session_path, :method => :get do %>
                        <li><%=t :signin %></li>
                    <% end %>
                <% else %>
                    <%= link_to forem_path, :method => :get do %>
                        <li><%=t :forums %></li>
                    <% end %>
                    <%= link_to tickets_path, :method => :get do %>
                        <li><%=t :tickets %></li>
                    <% end %>
                    <%= link_to contact_path, :method => :get do %>
                        <li><%=t :contact %></li>
                    <% end %>
                    <% if current_user.level > 0 %>
                        <%= link_to users_path, :method => :get do %>
                            <li><%=t :admin %></li>
                        <% end %>
						<%= link_to forem.admin_root_url do %>
                            <li><%=t :forumadmin %></li>
						<% end %>
                    <% end %>
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                        <li><%=t :delog %></li>
                    <% end %>
                <% end %>
				<span>
					<%= link_to_unless I18n.locale == :en, "English", set_language_english_path %> |
					<%= link_to_unless I18n.locale == :ch, "Chinese", set_language_chinese_path %>
				</span>
            </ul>
        </nav>
        <section class="content">
            <%= yield %>
        </section>
    </body>
</html>
